.tint-main-colour {
    color:rgb(54, 136, 184) !important;
}

.navbar-toggler {
    background-color:rgb(96, 171, 214) !important;
}

.btn-primary {
    background-color:rgb(96, 171, 214) !important;
    border:solid 1px rgb(46, 103, 136);
}

.tinted-quote-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding:8px 12px;
    border:solid black 1px;
}

.icon-big {
    font-size: 50px;
}

.icon-col-light {
    color:rgb(129, 184, 247);
}

.icon-col {
    color:rgb(116, 197, 235);
}

.icon-col-dark {
    color:rgb(94, 163, 190);
}