.tint-main-colour {
    color: rgb(54, 136, 184) !important;
}

.navbar-toggler {
    background-color: rgb(96, 171, 214) !important;
}

.btn-primary {
    background-color: rgb(96, 171, 214) !important;
    border: solid 1px rgb(46, 103, 136);
}

.tinted-quote-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 8px 12px;
    border: solid black 1px;
}

.icon-big {
    font-size: 50px;
}

.icon-col-light {
    color: rgb(170, 223, 248);
}

.icon-col {
    color: rgb(133, 207, 241);
}

.icon-col-dark {
    color: rgb(104, 190, 230);
}


/* portfolio */

.portfolio-overflow-container {
    overflow-x: auto;
    height: 400px;
    display: flex;
    justify-content: start;
}

#portfolio .portfolio-item .portfolio-link {
    border-radius: 10px 10px 0px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 300px;
}

.portfolio-item {
    float: left;
    width: 300px !important;
    margin-right: 10px !important;
}

#portfolio .portfolio-item .portfolio-caption {
    border-radius: 0px 0px 10px 10px;
    width: 300px;
}


/* modal */

.fa-star {
    color: rgb(133, 207, 241);
}


/* Reasons why */